<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/exposys.css">
    <title>beauty of uttarakannada</title>
    <script src="https://kit.fontawesome.com/dbfdd7ece6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div id="pagelength">

    <section class="sub-header">
        ̥̥̥
        <nav>
            <a href="/index"><img src="/static/images/My%20project-1.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/book">Bookings</a></li>
                    <li><a href="/signin">Sign In/Sign Up</a></li>
                </ul>
            </div>
        </nav>

    </section>
    ̥̥̥̥̥̥̥̥̥


    <!--footer-->
    <div class="aboutus">
        <h1>ABOUT US</h1>
        <p>Uttara Kannada district is one of the largest districts of the state and has abundant natural resources. The
            district with its distinct geographical features comprises of dense forest, perennial rivers and abundant
            flora and fauna along with about 140 km. It has a long coastline.<br> It has Belgaum and Goa states in the
            north, Dharwad district in the east, Shimoga and Udupi districts in the south. Bounded by the Arabian Sea on
            the west.<br> In the district with a total land area of ​​10.25 lakh hectares, 8.28 hectares are forested.
            Only 1.2 lakh hectares of land (about 10%) is under agriculture and horticulture. The district has 12 taluks
            namely Karwar, Ankola, Kumata, Bhatkala, Honnavar, Siddapur, Shirsi, Yallapur, Mundagoda, Supa (Zoida),
            Haliyala, Dandeli.

            06 Vidhan Sabha Constituencies, 04 Revenue Sub-Divisions, 03 City Council, 04 Municipalities, 05 Town
            Panchayats, 19 Nadakacheri Kendras, 239 Village Accountant Centers, 35 Hoblis, 208 Gram Panchayats and 1289
            villages are located in this district. Kannada and Kondani are the main languages ​​spoken. Per cent in the
            district. Only 10 percent of the land is cultivated and forest covers the rest. Man-made wonders can be seen
            along with the natural treasures. Prominent among them are: Hydroelectric Power Project and Nuclear Power
            Project.

            Major hydropower projects; Supa Dam, Kadra, Kodasalli, Gerusoppa Dams are also equipped with power
            generation plants. Kaiga plant is famous for nuclear power project.<br> Uttara Kannada district is the
            region with the highest rainfall during the monsoon season. Major rivers flowing in the district are – Kali
            (Karwara, Zoida taluk) Aghanashini (Kumata, Shirasi. Siddapur) Sharavati (Honnavara) Venkatapura river
            (Bhatkala taluk). These rivers are 9 to 10 feet deep and the river banks are about 12 to 15 feet high.

            Banavasi Madhukeshwar Temple, Ulivi Chennabasaveshwar, Sri Siddhivinayak Temple at Idagunji, Mahabaleshwar
            Temple at Gokarna, Matobara Murdeshwar Temple at Murdeshwar.

            The Marikamba temples of JShirasi are famous holy places of the district. Jain Basadi, Swarnavalli Math,
            Sonda Fort, Mirza Fort etc. are famous ancient monuments.<br> Bhatkala's mosque is famous for its Kusuri
            carvings. Suggikunita, Holi Dance, Tiger Dance, Siddi Dance etc. are famous folk and traditional arts.
            Yakshagana is a popular art form in the district. Although the district has a coastline, it is not so famous
            for its seafood products. But activities related to fishing are being carried out on a massive scale with
            the help of the state and central government.<br> People living in rural areas are mostly dependent on
            agriculture. Major traditional occupations are agriculture, fishing, animal husbandry, sericulture,
            horticulture, beekeeping, tannery.<br> The major tribes of the district are – Siddi, Kunbi, Halakki
            Okkaliga, Gond, and Gauli, The Siddi people are said to have been enslaved by the Portuguese from Africa
            about 400 years ago. The Siddi tribe, with a population of approximately more than 10,000, lives mostly in
            Haliyala, Yallapur and Ankola taluks. Now they have completely adopted Indian culture and mainly follow
            Hinduism. Some of the Siddis are followers of Muslim and Christian faiths. Being economically backward, they
            are working as agricultural laborers in the households of Havyaka Brahmins.

            Living in the foothills of the Western Ghats, the Halakki Okkaliga are the original inhabitants of Uttara
            Kannada. Their traditional life style is very different and unique. They follow their own system of social
            governance and the head of the society is called 'Gowda' and they still follow the ancient way of life and
            there is a need to bring it into the mainstream of society. Men remain shirtless at home. Women wear a large
            maguti with beads around the neck. The Gaulis are immigrants from Maharashtra. They are engaged in cow and
            sheep rearing. The Gauvalis live under the forest and some depend on agricultural work. Kunbis are the most
            backward tribe of Uttara Kannada district.<br> They live in rows in bamboo huts in small groups in the
            middle of the forest. Due to the lack of good medical facilities, the death rate is high. The Gonds live in
            the middle of the forest in Bhatkal Taluk. They depend on forest products for their livelihood. Traditional
            tribal dance art is rich among them.</p>
    </div>
</div>
</body>
̥̥̥̥̥
</html>̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥ ̥̥̥̥̥̥̥̥̥