<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/exposys.css">
    <title>beauty of uttarakannada</title>
    <script src="https://kit.fontawesome.com/dbfdd7ece6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div id="pagelength">

    <section class="con-header">
        ̥̥̥
        <nav>
            <a href="/index"><img src="/static/images/My%20project-1.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/book">BOOKING</a></li>
                    <li><a href="/signin">LOGIN</a></li>
                </ul>
            </div>
        </nav>
        ̥̥
    </section>
    ̥̥̥̥̥̥̥̥̥


    <!--footer-->
    <div class="aboutus">
        <h1>CONTACT</h1>
        <p>Made by-Pranav Rajendra Kalkeri <br></p>
    </div>
</div>
<div class="contactme">
    <div class="fa-5x">
        <a href="https://www.facebook.com/nammaukapp" target="_blank" class="fa-brands fa-facebook fa-flip"></a>
        <a href="https://twitter.com/NUKANNADA" target="_blank" class="fa-brands fa-square-twitter fa-flip"></a>
        <a href="https://www.instagram.com/nammauk/" target="_blank" class="fa-brands fa-square-instagram fa-flip"></a>
        <a href="https://twitter.com/NUKANNADA" target="_blank" class="fa-solid fa-envelope fa-flip"></a>

    </div>
</div>
</body>
̥̥̥̥̥
</html>̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥ ̥̥̥