<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
<h1 style="color: #993300">Travel Details</h1>
<div>
    <table style="border: 3px solid black;border-collapse: collapse">
        <tr>
            <th style="border: 3px solid black;border-collapse: collapse; text-align: start">
                Fields
            </th>
            <th style="border: 3px solid black;border-collapse: collapse;">
                Information
            </th>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">Destination
                Name
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ dest }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">Date From

            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ datefrom }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">Date Return
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ dateto }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">Number Of Rooms
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ rooms }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">Adults
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ adult }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">
                Child
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ child }}</td>
        </tr>
    </table>
</div>
</body>
</html>