<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/gallery.css">
    <title>beauty of uttarakannada</title>
    <script src="https://kit.fontawesome.com/dbfdd7ece6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div id="pagelength">

    <section class="gal-header">
        ̥̥̥
        <nav>
            <a href="/index"><img src="/static/images/My project-1.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/book">BOOKING</a></li>
                    <li><a href="/signin">LOG IN</a></li>
                </ul>
            </div>
        </nav>
        ̥̥
    </section>
    ̥̥̥̥̥̥̥̥̥


    <!--footer-->
    <div class="galleryrow">
        <h1>GALLERY</h1>
        <div class="fullimg" id="fib">
            <img src="/static/images/1.jpg" alt="" id="fibd">
            <span onclick="closeFullImg()">X</span>
        </div>
        <div class="gallerycol">
            <img src="/static/images/1.jpg" alt="" onclick="openFullImg(this.src)">
            <img src="/static/images/2.jpg" alt="" onclick="openFullImg(this.src)">
            <img src="/static/images/5.jpg" alt="" onclick="openFullImg(this.src)">
            <img src="/static/images/4.jpg" alt="" onclick="openFullImg(this.src)">
            <img src="/static/images/6.jpg" alt="" onclick="openFullImg(this.src)">
            <img src="/static/images/10.jpg" alt="" onclick="openFullImg(this.src)">
            <img src="/static/images/9.jpg" alt="" onclick="openFullImg(this.src)">
            <img src="/static/images/8.jpg" alt="" onclick="openFullImg(this.src)">
            <img src="/static/images/12.jpg" alt="" onclick="openFullImg(this.src)">
            <img src="/static/images/13.jpg" alt="" onclick="openFullImg(this.src)">
            <img src="/static/images/14.jpg" alt="" onclick="openFullImg(this.src)">
            <img src="/static/images/3.jpg" alt="" onclick="openFullImg(this.src)">
        </div>
        <script>
            var fib = document.getElementById("fib");
            var fibd = document.getElementById("fibd");

            function openFullImg(pic) {
                fib.style.display = "flex";
                fibd.src = pic;
            }

            function closeFullImg() {
                fib.style.display = "none";
            }
        </script>
    </div>
</div>
</body>
̥̥̥̥̥
</html>̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥ ̥̥̥̥