<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/exposys.css">
    <title>beauty of uttarakannada</title>
    <script src="https://kit.fontawesome.com/dbfdd7ece6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div id="pagelength">

    <section class="header">
        ̥̥̥
        <nav>
            <a href="/index"><img src="/static/images/My%20project-1.png"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/book">BOOKING</a></li>
                    <li><a href="/signin">LOG IN</a></li>
                </ul>
            </div>
        </nav>
        <div class="textbox">
            <h1 style="color: white;font-family: 'Caveat', cursive;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UTTARA
                KANNADA</h1>
            <P>Uttara Kannada district is one of the largest districts of the state and has abundant natural resources.
                The district with its distinct geographical features comprises of dense forest, perennial rivers,
                abundant flora and fauna
                and a long coastline.
                The district has 12 taluks namely Karwar,
                Ankola, Kumata, Bhatkala, Honnavar,
                Siddapur, Shirsi, Yallapur,
                Mundagoda, Supa (Zoida),
                Haliyala, Dandeli.</P>
            <a href="/about" class="expbutton">EXPLORE MORE!</a>
        </div>
        ̥̥
    </section>
    ̥̥̥̥̥̥̥̥̥

    <!---destination-->

    <section class="destination">
        <h2>Top attractions in uttarakannada </h2̥>
        <div class="row">
            <div class="row1">
                <a href="index.html"><img src="/static/images/IMG_7013.JPG" alt="unable to load"></a>̥̥
                <h2>MURDESHWARA</h2>
                <p>Located in Karnataka, this magnificent shrine is
                    dedicated to Lord Shiva. This temple boasts of the
                    second highest statue of Lord Shiva in the world,
                    and the sheer magnanimity of the statue will fill
                    you with a sense of awe. This temple is built on
                    the Kanduka Hill which is surrounded by the Arabian Sea
                    on three sides. The main temple's entrance, also called
                    the 'gopura' stands at 123 feet and you can witness the
                    breathtaking view of the Shiva statue from the top of the gopura.</p>
            </div>
            <div class="row2">
                <a href="index.html"><img src="/static/images/dandeli.jpg" alt="unable to load"></a>
                <h2>DANDELI</h2>
                <p>Located on the Western Ghats of Uttara Karnataka, Dandeli is bestowed
                    with the lush green forests and lies on the banks of the Kali river.
                    Known for its many fantastic adventure opportunities, Dandeli is a hub
                    for river rafting on river kali . Adventure seekers have many options
                    such as mountain biking,
                    trekking, cycling, kayaking and canoeing. The Dandeli Wildlife Sanctuary
                    is another exciting element that Dandeli has to offer. </p>
            </div>
            <div class="row3">
                <a href="index.html"><img src="/static/images/Gokarna_Temple.jpg" alt="unable to load"></a>
                <h2>Mahabaleshwara Temple, Gokarna</h2>
                <p>A 6 feet tall Shiva Linga here at the temple is known as the
                    Atmalinga is worshipped here. Built using white granite,
                    it is a classic example of the beauty of Dravidian architecture.
                    A 1500 years old carved stone Lord Shiva idol in the standing position represents the main deity.
                    The temple has been mentioned in the Hindu Mythics
                    of Mahabharata and Ramayana and it is said to be as significant as Kashi,
                    hence it earning the title, Dakshin (South) Kashi. </p>
            </div>
            <div class="row4">
                <a href="index.html"><img src="/static/images/ecobeach.jpg" alt="unable to load"></a>
                <h2>Kasarkod Beach In Honnavar </h2>
                <p>This eco-friendly beach developed from the huge park in
                    this village that was redeveloped by the forest committee
                    of Kasarkod village, the forest department, and the tourism department.
                    The beach was developed to encourage eco-tourism in Karnataka and to attract tourists from all over.
                    The Kasarkod beach stretches up to a distance of 5 Kilometers. This virgin beach is covered in white
                    sand and surrounded by Casuarinas. The scenic beauty and peace that surrounds Kasarkod offer a
                    great experience to those who chose to walk along this beach. </p>
            </div>


        </div>
    </section>
    <!--one place many colours-->
    <section class="opmd">
        <h1>One place many colours!</h1>
        <div class="r">
            <div class="column">
                <img src="/static/images/sathodi-falls_portrait.jpg" ̥>
                <div class="layer">
                    <h3>FALLS</h3>
                </div>
            </div>
            <div class="column2">
                <img src="/static/images/halakki.jpeg" ̥>
                <div class="layer2">
                    <h3>TRIBE</h3>
                </div>
            </div>
            <div class="column3">
                <img src="/static/images/BEACH2.JPG" ̥>
                <div class="layer3">
                    <h3>BEACHES</h3>
                </div>
            </div>
            <div class="column4">
                <img src="/static/images/MARIKAMBA.jpg" ̥>
                <div class="layer4">
                    <h3>TEMPLES</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="banner">
        <img src="/static/images/nadhibag.jpg">
        <div class="bannerhigh">
            <div class="container">
                <div class="bruce">
                    <div class="ban">
                        <h2>FIND THE BEST PLACE TO STAY!</h2>

                        <div class="tripbutton">
                            <a href="https://www.airbnb.co.in/uttara-kannada-india/stays" target="_blank">
                                <img src="/static/images/airbnb.png">
                            </a>
                        </div>
                        <div class="tripad">
                            <a href="https://www.tripadvisor.in/Hotels-g10548064-zff8-Uttara_Kannada_District_Karnataka-Hotels.html"
                               target="_blank">
                                <img src="/static/images/Tripadvisor-Logo.png">
                            </a>
                        </div>
                        <div class="mmt">
                            <a href="https://www.makemytrip.com/hotels/sea_view_resort-details-karwar.html"
                               target="_blank">
                                <img src="/static/images/mmt.png">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section>
    <!--footer-->
    <section class="footer">
        <h4>About us</h4>
        <p>The sole intention of this website is to make the wanderlusts around
            the world discover the gem of a place named uttarakannada
        </p>
        <div class="icons">
            <div class="fa-3x">
                <a href="https://www.facebook.com/nammaukapp" target="_blank" class="fa-brands fa-facebook fa-flip"></a>
                <a href="https://twitter.com/NUKANNADA" target="_blank" class="fa-brands fa-square-twitter fa-flip"></a>
                <a href="https://www.instagram.com/nammauk/" target="_blank"
                   class="fa-brands fa-square-instagram fa-flip"></a>


            </div>
        </div>
    </section>
</div>
</body>
̥̥̥̥̥
</html>̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥ ̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥̥